// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body { height: 100%; }
.table-top {
  margin-top: 10px;
}

table {
  min-width: 400px;
}
.map-container {
  height: 100%;

}

#map {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  min-width: 400px;
  margin-bottom: 10px;
}

#header {
    background-color:blue;
    color:white;
    text-align:center;
    padding:5px;

}
#section {
    background-color:white;
    width:450px;
    float:left;
    padding:10px;
    margin-top: 80px;
    text-align:left;
    border: 10px solid gray;

}

#article {
    background-color:white;
    width:450px;
    float:left;
    padding:10px;
    margin-top: 15px;
    text-align:center;
    border: 10px solid gray;

}
#results {
    background-color:white;
    // width:450px;
    float:left;
    // padding:10px;
    text-color:gray;
    // margin-top: 80px;
    text-align:left;
    border: 10px solid gray;
}

